* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #06283D;
}

.container50 {
    width: 28%;
    margin: 80px auto;

}

.container60 {
    width: 60%;
    margin: auto;
}

.main-box {
    box-shadow: rgb(255, 194, 60, 0.7) 0px 5px 15px;
    border-radius: 10px;

    // background-color: rgb(139, 137, 137);
    .main-photo {
        // border: 1px solid red;

        display: flex;
        justify-content: center;
        overflow: hidden;
        padding-top: 25px;
        // img {
        //     // border: 1px solid red;

        // }

        img{
            transition: 0.3s ease-in-out;
            &:hover{
                transform: scale(1.2);
            }
        }
    }

    // MAIN-PHOTO ENDS HERE

    .main-top {
        text-align: center;
        padding: 20px 0;

        color: #fff;

        span {
            font-size: 1.3em;
            color: #FFC23C;
        }

        p {
            font-size: smaller;
            padding-top: 7px;
        }
    }

    // MAIN-PHOTO ENDS HERE

    .main-links {


        .links {
            display: flex;
            justify-content: center;

            .myBtn {

                border-radius: 15px;
                background-color: #ffffff;
                border: none;
                transition: 0.3s ease-in-out;
                padding: 15px 20px;

                &:hover {

                    transform: scale(1.2);
                    background-color: #1363DF;

                    a {
                        color: #ffffff;
                    }

                    i {
                        color: #ffffff;

                    }
                }

                a {
                    text-decoration: none;
                    color: #31087B;
                    transition: 0.3s ease-in-out;
                }

                i {
                    color: #31087B;
                    transition: 0.3s ease-in-out;

                }
            }

        }
    }

    // MAIN-LINKS ENDS HERE

    .main-about {
        .container40{
            width: 85%;
            margin: auto;
        }

        padding: 15px 0;

        h4 {
            color: #FFC23C;
            padding-top: 15px;
        }

        span {
            color: #fff;
            font-size: 14px;
        }
    }

    .main-footer {

        background-color: #31087B;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        text-align: center;
        margin-top: 20px;
        padding-top: 5px;
        color: #fff;

        span,
        p {
            font-size: 12px;
        }

        i {
            font-weight: 80;
        }

    }
}